<h2>Send Message</h2> 

<div class="row"> 
    <div class="col-md-6"> 
        <div class="d-flex flex-column">
            {{#each messagesData}} 
            <div 
                style="width: 50%;" 
                class="message d-flex flex-column {{#if (sentByCurrentUser ../user.id sender._id)}}sent-user-current{{else}}sent-user-other{{/if}}"
            > 
                <p class="mb-1">{{content}}</p> 
                <span>{{getDate sendDate}}</span> 

                {{> user user=sender}} 
            </div> 
            {{/each}}
        </div>
    </div> 

    <div class="col-md-6"> 
        <div class="user d-flex align-items-center mb-4"> 
            <div class="image-holder image-holder-user image-holder-user-receiver-conversation"> 
                <img src="{{otherUserData.imageUrl}}" alt="">
            </div> 

            <div class="ms-2"> 
                <p class="mb-0">{{otherUserData.username}}</p> 
                <dl class="profile-info d-flex mb-1"> 
                    <div class="d-flex">
                        <dt class="">City</dt><dd class="ms-1">{{otherUserData.city}}</dd>
                    </div> 
                    <div class="d-flex ms-2">
                        <dt class="">Age</dt><dd class="ms-1">{{otherUserData.age}}</dd>
                    </div> 
                </dl> 
                <a class="btn btn-outline-success" href="/users/{{otherUserData._id}}/profile">View Profile</a> 
            </div> 
            
        </div> 
        
        <form method="POST">
            <div class="form-group">
                <label for="" class="form-label">Message</label> 
                <textarea name="message" id="" class="form-control" rows="3"></textarea>
            </div> 

            <button type="submit" class="btn btn-success mt-2">Send</button> 
        </form> 
    </div>
</div> 

