{{#if (areMessagesSent messagesToGet)}}
<h2>Messages Sent</h2> 
{{/if}} 

{{#if (areMessagesReceived messagesToGet)}} 
<h2>Messages Received</h2> 
{{/if}} 

<table class="table table-striped"> 
    <thead>
        <tr>
            <th>Content</th><th>From/To</th><th>Read</th> 
        </tr> 
    </thead> 
    <tbody>
        {{#each messagesData.onPageElements}} 
        <tr class={{#if readDate}}"message-read"{{else}}"message-unread"{{/if}}> 
            <td><a href="/messages/users/{{getOtherUserId ../messagesToGet sender._id receiver._id}}/conversation">{{slice content 10}}</a></td> 
            {{#if (areMessagesSent ../messagesToGet)}}
            <td>{{> user user=receiver}}</td> 
            {{/if}}
            
            {{#if (areMessagesReceived ../messagesToGet)}}
            <td>{{> user user=sender}}</td>
            {{/if}}

            <td>{{#if readDate}}{{getDate readDate}}{{else}}New{{/if}}</td> 
        </tr> 
        {{/each}}
    </tbody>
</table> 

<div class="paging"> 
    <ul class="pagination mt-4"> 
        {{#each (getList 1 messagesData.pagesCount)}} 
        <li class="page-item {{markOnEqual this ../messagesData.pageNumber 'active'}}"> 
            <a class="page-link" href="/messages?messagesToGet={{../messagesToGet}}&pageNumber={{this}}&messagesPerPageCount={{../messagesData.perPageCount}}">{{this}}</a>
        </li> 
        {{/each}} 
    </ul> 

    <form action="/messages?{{messagesToGet}}" method="POST" onchange="this.submit();"> 
        <div class="form-group">
            <label class="form-label" for="">Messages per page</label>
            <select name="messagesPerPageCount" class="form-control" id=""> 
                {{#each messagesData.perPageOptions}}
                <option value="{{this}}" {{markOnEqual this ../messagesData.perPageCount 'selected'}}>{{this}}</option> 
                {{/each}} 
            </select> 
        </div> 
        <input type="hidden" name="messagesToGet" value="{{messagesToGet}}">
    </form> 
</div>
