<h2>Register</h2> 

<form method="POST">
    <div class="form-group">
        <label for="" class="form-label">Username</label> 
        <input name="username" type="text" class="form-control" value="{{registerData.username}}"> 

        {{#if errors.username}} 
        <span class="text-danger small">{{errors.username.message}}</span>
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="" class="form-label">Email</label> 
        <input name="email" type="text" class="form-control" value="{{registerData.email}}"> 

        {{#if errors.email}} 
        <span class="text-danger small">{{errors.email.message}}</span>
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="" class="form-label">Image Url</label> 
        <input name="imageUrl" type="text" class="form-control" value="{{registerData.imageUrl}}"> 

        {{#if errors.imageUrl}} 
        <span class="text-danger small">{{errors.imageUrl.message}}</span>
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="" class="form-label">Description</label> 
        <textarea name="description" type="text" class="form-control">{{registerData.description}}</textarea>

        {{#if errors.description}} 
        <span class="text-danger small">{{errors.description.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="" class="form-label">Birthdate</label> 
        <input name="dateOfBirth" type="date" class="form-control" value="{{registerData.dateOfBirth}}"> 

        {{#if errors.dateOfBirth}} 
        <span class="text-danger small">{{errors.dateOfBirth.message}}</span>
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="" class="form-label">Gender</label> 
        <select name="gender" type="text" class="form-control">
            <option value="male">Male</option> 
            <option value="female">Female</option> 
        </select>

        {{#if errors.gender}} 
        <span class="text-danger small">{{errors.gender.message}}</span>
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="" class="form-label">City</label> 
        <input name="city" type="text" class="form-control" value="{{registerData.city}}"> 

        {{#if errors.city}} 
        <span class="text-danger small">{{errors.city.message}}</span>
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="" class="form-label">Password</label> 
        <input name="password" type="text" class="form-control"> 

        {{#if errors.password}} 
        <span class="text-danger small">{{errors.password.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="" class="form-label">Repeat Password</label> 
        <input name="repeatPassword" type="text" class="form-control"> 

        {{#if errors.passwords}} 
        <span class="text-danger small">{{errors.passwords.message}}</span> 
        {{/if}}
    </div> 

    <div class="buttons mt-3">
        <button type="submit" class="btn btn-outline-success">Register</button> 
    </div>
</form> 
