<h2>Members</h2> 

<div class="members-list"> 
    <div class="row">
        {{#each paginationData.onPageUsers}} 
        <div class="col-md-3"> 
            <div class="member border border-success rounded p-3"> 
                <h4 class="h5">{{username}}</h4> 
                <p>{{email}}</p> 
                <p>{{description}}</p> 

                <form action="/users/like" method="POST">
                    <input name="user-id" value="{{_id}}" type="hidden"> 
                    <button class="btn btn-outline-success" type="submit">Like</button> 
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div> 

<div class="paging">
    <ul> 
        {{#each paginationData.pagesList}}
        <li><a href="/users?pageNumber={{this}}&usersPerPageCount={{../paginationData.usersPerPageCount}}">{{this}}</a></li> 
        {{/each}} 
    </ul> 

    <form id="usersPerPageChange" action="/users" method="POST" onchange="this.submit();"> 
        <label class="form-label" for="">Users per page</label>
        <select name="usersPerPageCount" class="form-control" id=""> 
            {{#each paginationData.usersPerPageOptions}}
            <option value="{{this}}" {{selectedOnEqual this ../paginationData.usersPerPageCount}}>{{this}}</option> 
            {{/each}} 
        </select>
    </form>
</div>
