<h2>Members</h2> 

<div class="filters">
    <form method="GET" class="d-flex">
        <div class="form-group">
            <label for="" class="form-label">Gender</label> 
            <select name="gender" type="text" class="form-control"> 
                <option value=""></option>
                {{#each genders}}
                <option value="{{this}}" {{markOnEqual this ../filter.gender "selected"}}>{{capitalize this}}</option> 
                {{/each}}
            </select>            
        </div> 

        <fieldset class="d-flex ms-2"> 
            <div class="form-group">
                <label for="" class="form-label">From</label> 
                <select name="minAge" type="text" class="form-control"> 
                    <option value=""></option> 
                    {{#each (getList 18 90)}}
                    <option value="{{this}}" {{markOnEqual this ../filter.minAge "selected"}}>{{this}}</option> 
                    {{/each}} 
                </select> 
            </div> 
            <div class="form-group ms-2">
                <label for="" class="form-label">To</label> 
                <select name="maxAge" type="text" class="form-control"> 
                    <option value=""></option> 
                    {{#each (getList 18 90)}}
                    <option value="{{this}}" {{markOnEqual this ../filter.maxAge "selected"}}>{{this}}</option> 
                    {{/each}}
                </select>
            </div> 
        </fieldset> 

        <div class="form-group ms-2">
            <label for="" class="form-label">City</label> 
            <select name="city" type="text" class="form-control"> 
                <option value=""></option>
                {{#each cities}}
                <option value="{{this}}" {{markOnEqual this ../filter.city "selected"}}>{{this}}</option> 
                {{/each}}
            </select>
        </div> 

        <button class="btn btn-success align-self-end ms-2">Search</button> 
    </form>
</div>

<div class="members-list"> 
    <div class="row gy-3">
        {{#each paginationData.onPageElements}} 
        <div class="col-md-3 gx-2"> 
            <div class="member p-3"> 
                <div class="image-holder image-holder-user-index rounded"> 
                    <img src="{{imageUrl}}" alt="">
                </div> 

                <h4 class="member-heading mt-2 mb-0">{{username}}</h4> 
                {{!-- <p>{{email}}</p>  --}}
                <p>{{description}}</p> 

                <div class="button-group d-flex">
                    <form action="/users/like" method="POST">
                        <input name="user-id" value="{{_id}}" type="hidden"> 
                        <button class="btn btn-outline-success" type="submit">Like</button> 
                    </form> 
                    <a class="btn btn-outline-primary ms-2" href="/users/{{_id}}/profile">View Profile</a> 
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div> 

<div class="paging"> 
    <ul class="pagination mt-4"> 
        {{#each (getList 1 paginationData.pagesCount)}} 
        <li class="page-item {{markOnEqual this ../paginationData.pageNumber 'active'}}"> 
            <a class="page-link" href="/users?pageNumber={{this}}&usersPerPageCount={{../paginationData.perPageCount}}">{{this}}</a>
        </li> 
        {{/each}} 
    </ul> 

    <form id="usersPerPageChange" action="/users" method="POST" onchange="this.submit();"> 
        <label class="form-label" for="">Users per page</label>
        <select name="usersPerPageCount" class="form-control" id=""> 
            {{#each paginationData.perPageOptions}}
            <option value="{{this}}" {{markOnEqual this ../paginationData.perPageCount 'selected'}}>{{this}}</option> 
            {{/each}} 
        </select>
    </form>
</div>
