<h2>Members</h2> 

<div class="members-list"> 
    <div class="row gy-3">
        {{#each paginationData.onPageElements}} 
        <div class="col-md-3 gx-3"> 
            <div class="member border border-success rounded p-3"> 
                <h4 class="h5">{{username}}</h4> 
                <p>{{email}}</p> 
                <p>{{description}}</p> 

                <div class="button-group d-flex">
                    <form action="/users/like" method="POST">
                        <input name="user-id" value="{{_id}}" type="hidden"> 
                        <button class="btn btn-outline-success" type="submit">Like</button> 
                    </form> 
                    <a class="btn btn-outline-primary ms-2" href="/users/{{_id}}/profile">View Profile</a> 
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div> 

<div class="paging"> 
    <ul class="pagination mt-4"> 
        {{#each (getPagesList paginationData.pagesCount)}} 
        <li class="page-item {{markOnEqual this ../paginationData.pageNumber 'active'}}"> 
            <a class="page-link" href="/users?pageNumber={{this}}&usersPerPageCount={{../paginationData.perPageCount}}">{{this}}</a>
        </li> 
        {{/each}} 
    </ul> 

    <form id="usersPerPageChange" action="/users" method="POST" onchange="this.submit();"> 
        <label class="form-label" for="">Users per page</label>
        <select name="usersPerPageCount" class="form-control" id=""> 
            {{#each paginationData.perPageOptions}}
            <option value="{{this}}" {{markOnEqual this ../paginationData.perPageCount 'selected'}}>{{this}}</option> 
            {{/each}} 
        </select>
    </form>
</div>
